[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aiohttp = "*"
pytz = "*"
aiohttp-session = {extras = ["aioredis"]}

[requires]
python_version = "3.7"
